<app-edit-user></app-edit-user>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-md-8"><h2>Manage <b>Users</b></h2></div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let id = index;">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a (click)="onEdit(id)" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            <a (click)="onDelete(id)" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
