<app-add-category></app-add-category>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <div class="table-title">
        <h2>Category <b>List</b></h2>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td>{{ category.description}}</td>
          <td>
            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
