<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-12">
      <app-add-category></app-add-category>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrapper">
        <div class="table-title">
          <span><a style="cursor: pointer" (click)="onFetch()">Fetch</a> | </span>
          <span><a style="cursor: pointer" (click)="onSave()">Save</a></span>
          <h2>Category <b>List</b></h2>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let category of categories; let id = index;">
            <td>{{ category.name }}</td>
            <td>{{ category.description}}</td>
            <td>
              <a (click)="onEdit(id)" class="edit" title="Edit" data-toggle="tooltip"><i
                class="material-icons">&#xE254;</i></a>
              <a (click)="onDelete(id)" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

