<app-add-project></app-add-project>
<hr>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-md-8"><h2>Manage <b>Projects</b></h2></div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Categoy</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects; let id = index;">
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.category.name }}</td>
          <td>
            <a (click)="onEdit(id)" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            <a (click)="onDelete(id)" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
